body{
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0rem;
    overflow: hidden;
}

#img-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    user-select: none;
    
}

#img-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%; transform: translate(-50%, 50%);

}

