
body{
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

li, a, button{
    font-family: sans-serif;
    font-weight: 500px;
    color: white;
    text-decoration: none;
}

header{
    display: flex;
    position: absolute;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    box-sizing: border-box;
    flex-wrap: nowrap;
}

.logo{ 
    cursor: pointer;
    flex-shrink: 0;
}

.nav_links{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header > div {
    flex: 1;
    display: flex;
    justify-content: center;
}

.nav_links li{
    display: inline-block;
    padding: 0px 5px;
    white-space: nowrap;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
    padding: 0px 15px;
    font-size: 30px;
}

.nav_links li a:hover{
    color: #0088a9;
}

button{
    padding: 9px 25px;
    background-color: black;
    font-size: 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
    flex-shrink: 0;
}

button:hover{
    background-color: rgba(0, 136, 169, 0.7);
}


.main_title{
    align-items: center;
    position: relative;
    top: 70px;
    left: 40%;
    display: inline-block;
    padding: 18px;
    font-size: 35px;
    font-family: sans-serif;
    font-weight: 500px;
    color:  #0088a9;
}

.albums{
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 30px 10%;
}

.covers{
    box-sizing: border-box;
    border-radius: 1%;
    height: 350px;
    width: 350px;
    margin: 15px;
    cursor: pointer;
}

.second_title{
    position: relative;
    left: 40%;
    display: inline-block;
    padding: 0px 20;
    font-size: 35px;
    font-family: sans-serif;
    font-weight: 500px;
    color: #d7524d;
}

.artists{    
    display: gird;
    justify-content:space-between;
    align-items:center;
    padding: 30px 10%;
}

.photo {
    box-sizing: border-box;
    box-shadow: 0px 0px;
    border-radius: 1%;
    height: 270px;
    width: 270px;
    margin: 15px;
    outline: 5px black;
    cursor: pointer;
}

#fullImgBox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: none; 
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  #fullImgBox img{
    display:block;
    width: 60%;
    max-width: 600px;
    border-radius: 10px;
  }
  
  #closeBtn{
    position:fixed;
    top: 50px;
    right: 50px;
    color: white;
    font-size: 35px;
    padding: 1px 5px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  #closeBtn:hover{
    background-color: rgba(0, 136, 169, 0.7);
  }
  
