@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&family=Roboto&display=swap');

* { 
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: #24252A;
}

li, a, button{
    font-family: "Mulish", sans-serif;
    font-weight: 500px;
    color: white;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.logo{ 
    cursor: pointer;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20 px;

    
}

.nav_links li a{
    transition: all 0.3s ease 0s;
    padding: 0px 30px;
    font-size: 30px;
    
}

.nav_links li a:hover{
    color: #0088a9;
}

button{
    padding: 9px 25px;
    background-color: black;
    font-size: 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0, 136, 169, 0.7);
}

/*------------------------------fin del header----------------------*/

.main_title{
    left: 31%;
    padding: 30px 10%;
    position: relative;
    font-size: 60px;
    font-family: "Mulish", sans-serif;
    font-weight: 900px;
    color:  #0088a9;
}

.img-gallery{
    width: 80%;
    margin: 10px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 50px;
}

.img-gallery img{
    width: 110%;
    cursor: pointer;
}

.img-gallery img:hover{
    transform: scale(0.8) rotate(-15deg);
    border-radius: 10px;
    box-shadow: 0 32px 75px rgba(68,77,136, 0.2);

}

.full-img{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0, 0.9);
    position:fixed;
    top: 0px;
    left: 0px;
    display: none;
    align-items: center;
    justify-content: center;
}

.full-img img{
    max-width: 700px;
}
.full-img span{
    position:absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color:antiquewhite;
    background-color: (255, 255, 255, 0);

}

