
li, a {font-family: 'Roboto', sans-serif;
  font-weight: 800;
}

.title { 
  font-size: 25px;
  color: red;

}

.sub_title {
  font-size: 20px;
  color: green;

}

.description {
  font-size: 18px;
  color:lightseagreen;

}

#header{
  padding-top: 10px; 
  padding-left:5px;
  padding-right: 5px; 
  padding-bottom: 10px;

}


#nav { 
  margin: 0px;
  font-size: 25px; /*tamaño de letra*/
  font-family:'Mulish', sans-serif; /*tipo de letra */
  font-weight: 200; /*grosor de letra*/
  background-color: rgba(255,255,255,0.5); /*color de fondo (transparente)*/ 
  line-height: 2; /* tamaño de la linea de texto*/

}

  
