body{
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

li, a, button{
    font-family: sans-serif;
    font-weight: 500px;
    color: white;
    text-decoration: none;
}

header{
    display: flex;
    position: absolute;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    box-sizing: border-box;
    flex-wrap: nowrap;
}

.logo{ 
    cursor: pointer;
    flex-shrink: 0;
}

.nav_links{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header > div {
    flex: 1;
    display: flex;
    justify-content: center;
}

.nav_links li{
    display: inline-block;
    padding: 0px 5px;
    white-space: nowrap;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
    padding: 0px 15px;
    font-size: 30px;
}

.nav_links li a:hover{
    color: #0088a9;
}

button{
    padding: 9px 25px;
    background-color: black;
    font-size: 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
    flex-shrink: 0;
}

button:hover{
    background-color: rgba(0, 136, 169, 0.7);
}
